<!DOCTYPE html> 
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>LatinRPG: {{name}}</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
	<body>
<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#achievement">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="achievement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Achievement Unlocked!</h4>
      </div>
      <div class="modal-body">
	      <img src="../img/achievement_fish1.png" align=left valign=center />
	      <h4>Fishing Helper</h4>
	      <p>Nice work! Your fantastic Latin abilities have provided enough food to feed a small army! You're a serious fishing assistant! Have this wall hanging as a reward!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Sweet!</button>
      </div>
    </div>
  </div>
</div>
		
	</body>
	<script src="../javascripts/jquery.min.js"></script>
	<script src="../javascripts/bootstrap.min.js"></script>
</html>
